.searchBox{
    border: 2px solid black;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    padding: 4px;
   
 }
 
 .searchBtn {
   border: none;
  background: none; 
  cursor: pointer;
}
 
 .searchTxt{
    background: none;
    border: none;
 }

 .searchTxt:focus{
    outline: none;
 }
 
 
