.contenedor {
    padding: 1rem;
    
    border-bottom: 3px solid yellow;
    box-shadow: 5px 5px 20px yellow;
    background: linear-gradient(to bottom, #160586, #21d7f7);
}

.img {
    width: 4rem;
}